body {
  background-color: #fbfbfb !important;
}

/* connect fonts */
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter-800";
  src: local("Inter-800"),
    url("./assets/fonts/Inter/Inter-ExtraBold.ttf") format("opentype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-700";
  src: local("Poppins-700"),
    url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("opentype");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-500";
  src: local("Poppins-500"),
    url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-600";
  src: local("Poppins-600"),
    url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("opentype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
/* styles */
li .active {
  font-weight: 600;
}
/* social contact*/
.hover-social:hover,
.hover-social:hover path {
  background: #fff !important;
  fill: #000 !important;
  cursor: pointer;
}

/* input  */
.form-input {
  border-bottom: 1px solid #8d8d8d;
  padding-top: 5px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #8d8d8d;
  line-height: 20px;
  caret-color: #848484;
  width: 100%;
}

:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: #000;
  color: #000;
}

.color-active {
  color: #000 !important;
}
*::placeholder {
  color: #8d8d8d !important;
}
/* input radio */
input[type="radio"]:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: 2px;
  left: -1px;
  position: relative;
  background-color: #e0e0e0;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 13px;
  height: 13px;
  border-radius: 15px;
  top: 2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: url("../src/assets/icons/Teenyicons_tick-circle-solid.svg");
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
